In [144]:
import numpy as np
import pandas as pd

In [145]:
numbers = [1,2,3,4,5]
numbers2 = [6,7,8,9]

In [146]:
np.mean(numbers)

3.0

In [147]:
np.median(numbers2)

7.5

In [148]:
np.std(numbers)

1.4142135623730951

In [149]:
np.std(numbers2)

1.1180339887498949

Below code is to review Pandas.|

In [150]:
if True:
    series = pd.Series(['Dave', 'Cheng-Han', 'Udacity', 42, -1789710578])
    print series

0           Dave
1      Cheng-Han
2        Udacity
3             42
4    -1789710578
dtype: object

In [151]:
if True:
    series = pd.Series(['Dave', 'Cheng-Han', 359, 9001],
                       index=['Instructor', 'Curriculum Manager',
                              'Course Number', 'Power Level'])
    print series

Instructor                 Dave
Curriculum Manager    Cheng-Han
Course Number               359
Power Level                9001
dtype: object

In [152]:
if True:
    series = pd.Series(['Dave', 'Cheng-Han', 359, 9001],
                       index=['Instructor', 'Curriculum Manager',
                              'Course Number', 'Power Level'])
    print series['Instructor']
    print ""
    print series[['Instructor', 'Curriculum Manager', 'Course Number']]

Dave

Instructor                 Dave
Curriculum Manager    Cheng-Han
Course Number               359
dtype: object

In [153]:
if True:
    cuteness = pd.Series([1, 2, 3, 4, 5], index=['Cockroach', 'Fish', 'Mini Pig',
                                                 'Puppy', 'Kitten'])
    print cuteness > 3
    print ""
    print cuteness[cuteness > 3]

Cockroach    False
Fish         False
Mini Pig     False
Puppy         True
Kitten        True
dtype: bool

Puppy     4
Kitten    5
dtype: int64

Pandas DataFrames

In [154]:
if True:
    data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
            'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions',
                     'Lions', 'Lions'],
            'wins': [11, 8, 10, 15, 11, 6, 10, 4],
            'losses': [5, 8, 6, 1, 5, 10, 6, 12]}
    football = pd.DataFrame(data)
    print football

   losses     team  wins  year
0       5    Bears    11  2010
1       8    Bears     8  2011
2       6    Bears    10  2012
3       1  Packers    15  2011
4       5  Packers    11  2012
5      10    Lions     6  2010
6       6    Lions    10  2011
7      12    Lions     4  2012

In [155]:
if True:
    data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
            'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions',
                     'Lions', 'Lions'],
            'wins': [11, 8, 10, 15, 11, 6, 10, 4],
            'losses': [5, 8, 6, 1, 5, 10, 6, 12]}
    football = pd.DataFrame(data)
    print football.dtypes
    print ""
    print football.describe()
    print ""
    print football.head()
    print ""
    print ""
    print football.tail()

losses     int64
team      object
wins       int64
year       int64
dtype: object

          losses       wins         year
count   8.000000   8.000000     8.000000
mean    6.625000   9.375000  2011.125000
std     3.377975   3.377975     0.834523
min     1.000000   4.000000  2010.000000
25%     5.000000   7.500000  2010.750000
50%     6.000000  10.000000  2011.000000
75%     8.500000  11.000000  2012.000000
max    12.000000  15.000000  2012.000000

   losses     team  wins  year
0       5    Bears    11  2010
1       8    Bears     8  2011
2       6    Bears    10  2012
3       1  Packers    15  2011
4       5  Packers    11  2012


   losses     team  wins  year
3       1  Packers    15  2011
4       5  Packers    11  2012
5      10    Lions     6  2010
6       6    Lions    10  2011
7      12    Lions     4  2012

In [181]:
from pandas import DataFrame, Series

def create_dataframe():
    countries = ['Russian Fed.', 'Norway', 'Canada', 'United States', \
                     'Netherlands', 'Germany', 'Switzerland', 'Belarus', \
                     'Austria', 'France', 'Poland', 'China', 'Korea', \
                     'Sweden', 'Czech Republic', 'Slovenia', 'Japan', \
                     'Finland', 'Great Britain', 'Ukraine', 'Slovakia', \
                     'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan']

    gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
    silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0]
    bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]

    olympic_metal_counts = {'countries': Series(countries), 'gold': Series(gold), 'silver': Series(silver), 'bronze': Series(bronze)}
    
    df = DataFrame(olympic_metal_counts)

    print(df)
    print ""
    print ""
    print df['bronze']
    print ""
    print ""
    print df[['bronze','gold','silver']]
    print ""
    print ""
    print df.loc[5]
    print ""
    print ""
    print df[df['bronze'] >= 8]
    print ""
    print ""
    print df[['gold','countries']][df['bronze'] >= 8]
    
create_dataframe()

    bronze       countries  gold  silver
0        9    Russian Fed.    13      11
1       10          Norway    11       5
2        5          Canada    10      10
3       12   United States     9       7
4        9     Netherlands     8       7
5        5         Germany     8       6
6        2     Switzerland     6       3
7        1         Belarus     5       0
8        5         Austria     4       8
9        7          France     4       4
10       1          Poland     4       1
11       2           China     3       4
12       2           Korea     3       3
13       6          Sweden     2       7
14       2  Czech Republic     2       4
15       4        Slovenia     2       2
16       3           Japan     1       4
17       1         Finland     1       3
18       2   Great Britain     1       1
19       1         Ukraine     1       0
20       0        Slovakia     1       0
21       6           Italy     0       2
22       2          Latvia     0       2
23       1       Australia     0       2
24       0         Croatia     0       1
25       1      Kazakhstan     0       0


0      9
1     10
2      5
3     12
4      9
5      5
6      2
7      1
8      5
9      7
10     1
11     2
12     2
13     6
14     2
15     4
16     3
17     1
18     2
19     1
20     0
21     6
22     2
23     1
24     0
25     1
Name: bronze, dtype: int64


    bronze  gold  silver
0        9    13      11
1       10    11       5
2        5    10      10
3       12     9       7
4        9     8       7
5        5     8       6
6        2     6       3
7        1     5       0
8        5     4       8
9        7     4       4
10       1     4       1
11       2     3       4
12       2     3       3
13       6     2       7
14       2     2       4
15       4     2       2
16       3     1       4
17       1     1       3
18       2     1       1
19       1     1       0
20       0     1       0
21       6     0       2
22       2     0       2
23       1     0       2
24       0     0       1
25       1     0       0


bronze             5
countries    Germany
gold               8
silver             6
Name: 5, dtype: object


   bronze      countries  gold  silver
0       9   Russian Fed.    13      11
1      10         Norway    11       5
3      12  United States     9       7
4       9    Netherlands     8       7


   gold      countries
0    13   Russian Fed.
1    11         Norway
3     9  United States
4     8    Netherlands