In [26]:
import numpy
from pandas import DataFrame, Series


def avg_medal_count():
    '''
    Using the dataframe's apply method, create a new Series called 
    avg_medal_count that indicates the average number of gold, silver,
    and bronze medals earned amongst countries who earned at 
    least one medal of any kind at the 2014 Sochi olympics.  Note that
    the countries list already only includes countries that have earned
    at least one medal. No additional filtering is necessary.
    
    You do not need to call the function in your code when running it in the
    browser - the grader will do that automatically when you submit or test it.
    '''

    countries = ['Russian Fed.', 'Norway', 'Canada', 'United States',
                 'Netherlands', 'Germany', 'Switzerland', 'Belarus',
                 'Austria', 'France', 'Poland', 'China', 'Korea', 
                 'Sweden', 'Czech Republic', 'Slovenia', 'Japan',
                 'Finland', 'Great Britain', 'Ukraine', 'Slovakia',
                 'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan']

    gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
    silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0]
    bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]
    
    olympic_medal_counts = {'country_name':countries,
                            'gold': Series(gold),
                            'silver': Series(silver),
                            'bronze': Series(bronze)}   
    
    #it's important to set the index before any performing operations on the data
    df = DataFrame(olympic_medal_counts).set_index('country_name')
    #df['total'] = df.sum(axis=1)
    
    #this adds a new column to the dataframe
    #the new column added uses the numpy mean method to calculate the average
    df['average'] = df.apply(numpy.mean, axis=1)
    
    return df
    
avg_medal_count()

                bronze  gold  silver    average
country_name
Russian Fed.         9    13      11  11.000000
Norway              10    11       5   8.666667
Canada               5    10      10   8.333333
United States       12     9       7   9.333333
Netherlands          9     8       7   8.000000
Germany              5     8       6   6.333333
Switzerland          2     6       3   3.666667
Belarus              1     5       0   2.000000
Austria              5     4       8   5.666667
France               7     4       4   5.000000
Poland               1     4       1   2.000000
China                2     3       4   3.000000
Korea                2     3       3   2.666667
Sweden               6     2       7   5.000000
Czech Republic       2     2       4   2.666667
Slovenia             4     2       2   2.666667
Japan                3     1       4   2.666667
Finland              1     1       3   1.666667
Great Britain        2     1       1   1.333333
Ukraine              1     1       0   0.666667
Slovakia             0     1       0   0.333333
Italy                6     0       2   2.666667
Latvia               2     0       2   1.333333
Australia            1     0       2   1.000000
Croatia              0     0       1   0.333333
Kazakhstan           1     0       0   0.333333